node_modules
.next
.vercel
.env*
!.env.example
npm-debug.log*
*.tsbuildinfo
supabase/.temp/gotrue-version
supabase/.temp/linked-project.json
supabase/.temp/pooler-url
supabase/.temp/postgres-version
supabase/.temp/project-ref
supabase/.temp/rest-version
supabase/.temp/storage-migration
supabase/.temp/storage-version
data/users.csv
